In [166]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\users\hp\anaconda3\lib\site-packages (23.0.1)

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\hp\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.3)
Note: you may need to restart the kernel to use updated packages.

In [168]:
import mysql.connector

In [169]:
class database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host='localhost',
            user = 'root',
            password = '',
            database = 'sekolah_menengah_atas'
        )
        
        my_cursor = my_db.cursor()
        
    def __del__ (self):
        my_db.commit()

In [298]:
class pelajaran(database):
    
    def tampil_pelajaran(self, mode='DESC'):
        sql = "SELECT * FROM pelajaran ORDER BY id_pelajaran DESC".format(mode)

        try :
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e :
            return e
        
        return result
    
    def insert_pelajaran(self, data):
        sql = "INSERT INTO pelajaran (nama_pelajaran, jurusan) VALUES (%s,%s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
            
        except Exception as e :
            return e
        
        return my_cursor.lastrowid
    
    def insert_pelajaran_many(self, data):
        sql = "INSERT INTO pelajaran (nama_pelajaran, jurusan) VALUES (%s,%s)"
        
        try :
            my_cursor.executemany (sql, data)
            my_db.commit()
            print(my_cursor.rowcount,'record inserted.')
            
        except Exception as e :
            return e
        
    def delete_pelajaran(self, id):
        sql = 'DELETE pelajaran obat WHERE id_pelajaran + {}'.format(id)
    
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print( my_cursor.rowcount,'record deleted')
            
        except Exception as e :
            return e
        
    def update_pelajaran(self, id, data):
        
        sql = "UPDATE pelajaran SET nama_pelajaran =%s, jurusan =%s WHERE id_pelajaran = {}".format(id)
        
        val = (data[0], data[1])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, 'record updated.')
            
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql= 'TRUNCATE TABLE pelajaran'
        try :
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e 
        
        return True

In [299]:
db = database()
p = pelajaran()

In [172]:
data = ('matematika', 'ipa')

p.insert_pelajaran(data)
print(p.tampil_pelajaran())

[(46, 'geografi', 'ips'), (45, 'biologi', 'ipa'), (44, 'bahasa jepang', 'bahasa')]

In [173]:
p.delete_pelajaran(2)

3 record deleted

In [174]:
data = [
    ('bahasa jepang', 'bahasa'),
    ('biologi', 'ipa'),
    ('geografi', 'ips'),
]
p.insert_pelajaran_many(data)

3 record inserted.

In [175]:
print(p.tampil_pelajaran())

[(49, 'geografi', 'ips'), (48, 'biologi', 'ipa'), (47, 'bahasa jepang', 'bahasa')]

In [179]:
class database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host='localhost',
            user = 'root',
            password = '',
            database = 'sekolah_menengah_atas'
        )
        
        my_cursor = my_db.cursor()
        
    def __del__ (self):
        my_db.commit()

In [212]:
class guru(database):
    
    def tampil_guru(self, mode='DESC'):
        sql = "SELECT * FROM guru ORDER BY id_guru DESC".format(mode)

        try :
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e :
            return e
        
        return result
    
    def insert_guru(self, data):
        sql = "INSERT INTO guru (nama_guru, jabatan, nama_pelajaran) VALUES (%s,%s,%s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
            
        except Exception as e :
            print('eror',e)
            return e
        
        return my_cursor.lastrowid
    
    def insert_guru_many(self, data):
        sql = "INSERT INTO guru (nama_guru, jabatan, nama_pelajaran) VALUES (%s, %s, %s)"
        
        try :
            my_cursor.executemany (sql, data)
            my_db.commit()
            print(my_cursor.rowcount,'record inserted.')
            
        except Exception as e :
            print('eror', e)
            return e
        
    def delete_guru(self, id):
        sql = 'DELETE FROM guru WHERE id_guru = {}'.format(id)
    
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print( my_cursor.rowcount,'record deleted')
            
        except Exception as e :
            return e
        
    def update_guru(self, id, data):
        
        sql = "UPDATE guru SET nama_guru =%s, jabatan =%s, nama_pelajaran= %s WHERE id_guru = {}".format(id)
        
        val = (data[0], data[1], data[2], data[3])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, 'record updated.')
            
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql= 'TRUNCATE TABLE guru'
        try :
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e 
        
        return True

In [213]:
db =database()
g = guru()

In [275]:
data = ('budi utomo', 'staff', 'bahasa jepang')

g.insert_guru(data)
print(g.tampil_guru())

1 record inserted.
[(1, 'budi utomo', 'staff', 'bahasa jepang')]

In [276]:
data = ('suhartoe', 'staff', 'biologi')

g.insert_guru(data)
print(g.tampil_guru())

1 record inserted.
[(2, 'suhartoe', 'staff', 'biologi'), (1, 'budi utomo', 'staff', 'bahasa jepang')]

In [277]:
g.delete_guru(1)
print(g.tampil_guru())

1 record deleted
[(2, 'suhartoe', 'staff', 'biologi')]

In [278]:
g.truncate()
print(g.tampil_guru())

[]

In [279]:
data = [
    ('diajeng prameswari', 'kepala sekolah', 'biologi'),
    ('dicky maulana', 'wakil kepala sekolah', 'bahasa jepang'),
    ('diinal hqq', 'staff', 'geografi')
]

g.insert_guru_many(data)
print(g.tampil_guru())

3 record inserted.
[(3, 'diinal hqq', 'staff', 'geografi'), (2, 'dicky maulana', 'wakil kepala sekolah', 'bahasa jepang'), (1, 'diajeng prameswari', 'kepala sekolah', 'biologi')]

In [251]:
class database:
    my_db = my_cursor = None
    
    def __init__(self):
        global my_db, my_cursor
        my_db = mysql.connector.connect(
            host='localhost',
            user = 'root',
            password = '',
            database = 'sekolah_menengah_atas'
        )
        
        my_cursor = my_db.cursor()
        
    def __del__ (self):
        my_db.commit()

In [258]:
class siswa(database):
    
    def tampil_siswa(self, mode='DESC'):
        sql = "SELECT * FROM siswa ORDER BY id_siswa DESC".format(mode)

        try :
            my_cursor.execute(sql)
            result = my_cursor.fetchall()
        except Exception as e :
            return e
        
        return result
    
    def insert_siswa(self, data):
        sql = "INSERT INTO siswa (nama_siswa, jurusan, kelas) VALUES (%s,%s,%s)"
        
        try:
            my_cursor.execute(sql, data)
            my_db.commit()
            print(my_cursor.rowcount, "record inserted.")
            
        except Exception as e :
            return e
        
        return my_cursor.lastrowid
    
    def insert_siswa_many(self, data):
        sql = "INSERT INTO siswa (nama_siswa, jurusan, kelas) VALUES (%s, %s, %s)"
        
        try :
            my_cursor.executemany (sql, data)
            my_db.commit()
            print(my_cursor.rowcount,'record inserted.')
            
        except Exception as e :
            return e
        
    def delete_siswa(self, id):
        sql = 'DELETE FROM siswa WHERE id_siswa = {}'.format(id)
    
        try:
            my_cursor.execute(sql)
            my_db.commit()
            print( my_cursor.rowcount,'record deleted')
            
        except Exception as e :
            return e
        
    def update_siswa(self, id, data):
        
        sql = "UPDATE siswa SET nama_siswa =%s, jurusan =%s, kelas= %s WHERE and id_siswa = {}".format(id)
        
        val = (data[0], data[1], data[2])
        
        try:
            my_cursor.execute(sql, val)
            my_db.commit()
            print(my_cursor.rowcount, 'record updated.')
            
        except Exception as e:
            return e
        
    def truncate(self):
        
        sql= 'TRUNCATE TABLE siswa'
        try :
            my_cursor.execute(sql)
            my_db.commit()
        except Exception as e:
            return e 
        
        return True

In [290]:
db = database()
s = siswa()

In [291]:
data = ('nabil haqque', 'ips', '12')

s.insert_siswa(data)
print(s.tampil_siswa())

1 record inserted.
[(6, 'nabil haqque', 'ips', 12), (5, 'nur fadhilah amanda putri', 'bahasa', 11), (4, 'anisa rahmadania', 'ips', 12), (3, 'fika amelia', 'ipa', 12), (2, 'aziz maulana', 'ipa', 10)]

In [292]:
data = ('aziz maulana', 'ipa', '10')

s.insert_siswa(data)
print(s.tampil_siswa())

1 record inserted.
[(7, 'aziz maulana', 'ipa', 10), (6, 'nabil haqque', 'ips', 12), (5, 'nur fadhilah amanda putri', 'bahasa', 11), (4, 'anisa rahmadania', 'ips', 12), (3, 'fika amelia', 'ipa', 12), (2, 'aziz maulana', 'ipa', 10)]

In [293]:
s.delete_siswa(1)
print(s.tampil_siswa())

0 record deleted
[(7, 'aziz maulana', 'ipa', 10), (6, 'nabil haqque', 'ips', 12), (5, 'nur fadhilah amanda putri', 'bahasa', 11), (4, 'anisa rahmadania', 'ips', 12), (3, 'fika amelia', 'ipa', 12), (2, 'aziz maulana', 'ipa', 10)]

In [294]:
s.truncate()
print(s.tampil_siswa())

[]

In [295]:
data = [
    ('fika amelia', 'ipa', '12'),
    ('anisa rahmadania', 'ips', '12'),
    ('nur fadhilah amanda putri', 'bahasa', '11')
]

s.insert_siswa_many(data)
print(s.tampil_siswa())

3 record inserted.
[(3, 'nur fadhilah amanda putri', 'bahasa', 11), (2, 'anisa rahmadania', 'ips', 12), (1, 'fika amelia', 'ipa', 12)]